[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/cgltf"]
	path = dep/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "dep/volk"]
	path = dep/volk
	url = https://github.com/zeux/volk.git
[submodule "dep/tinyobjloader-c"]
	path = dep/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb.git
[submodule "dep/libpico"]
	path = dep/libpico
	url = https://github.com/Jaysmito101/libpico
[submodule "dep/portaudio"]
	path = dep/portaudio
	url = https://github.com/PortAudio/portaudio.git
